@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200;1,400&display=swap');

.container button {
    background: white;
    border: 1px solid gray;
    border-radius: 1rem;
    color: blue;
    font-weight: 900;
    margin: 1rem 0.75rem 1rem;
    padding: 1.5rem 1rem;
    transition: all 500ms ease-in-out;
}

.container button:hover {
    color: white;
    background: blue;
}

body {
    background: #f9fafb;
    display: flex;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

fieldset {
    border: none;
}

.sidebar {
    flex-basis: 35%;
    height: 100vh;
    position: relative;
}

.sidebar-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.sidebar > p {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: white;
    font-size: .75rem;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 1rem 0;
}

.sidebar a {
    color: yellowgreen;
    font-weight: 900;
    text-decoration: none;
}

.container {
    box-sizing: border-box;
    flex-basis: 65%;
    padding: 6rem 2rem;
}

.container > article {
    font-size: 115%;
    font-weight: bold;
}

.container .form-input {
    display: flex;
    justify-content: space-between;
}

.container .form-input > div {
    align-items: flex-start;
    display: flex;
    row-gap: .5rem;
    flex-direction: column;
}

input {
    border: 1px solid gray;
    border-radius: .5rem;
    padding: 1rem 1rem;
    transition: all 500ms ease;
    width: 25ch;
}

input:focus {
    border: 1px solid blue;
    box-shadow: 0 2px 2px blue;
    outline-color: blue;
}

label {
    position: relative;
    width: 100%;
}

[aria-label="required"] {
    right: 0;
    position: absolute;
}

