@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200;1,400&display=swap');

.container button {
    margin: 1rem 0.75rem 1rem;
    padding: 1.5rem 1rem;
}

body {
    background: #f9fafb;
    display: flex;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

fieldset {
    border: none;
}

.sidebar {
    flex-basis: 35%;
    height: 100vh;
    position: relative;
}

.sidebar-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.sidebar > p {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: white;
    font-size: .75rem;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 1rem 0;
}

.sidebar a {
    color: yellowgreen;
    font-weight: 900;
    text-decoration: none;
}

.container {
    box-sizing: border-box;
    flex-basis: 65%;
    padding: 6rem 2rem;
}

.container > article {
    font-size: 115%;
    font-weight: bold;
}

.container .form-input {
    display: flex;
    justify-content: space-between;
}

.container .form-input > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}